<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Demo App inspired by @whitep4nth3r</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Fb/Default OG Meta Tags -->
    <meta property="og:url" content="https://thingoftheday.xyz" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Demo App inspired by @whitep4nth3r" />
    <meta
      property="og:description"
      content="thingoftheday is a lightweight microblogging site powered by Contentful and vanilla HTML, CSS and JavaScript. Built by @whitep4nth3r."
    />
    <meta property="og:image" content="https://thingoftheday.netlify.app/assets/fb_og.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#f11012" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="style.css" />
    <script>
        function formatPublishedDateForDisplay(dateString){
          const timestamp = Date.parse(dateString);
          const date = new Date(timestamp);
          return `${date.getDate()} ${getMonthStringFromInt(date.getMonth())} ${date.getFullYear()}`;
        };
    </script>
        
  </head>

  <body>
    <main class="container">
      <header>
        <h1 class="microblog__title">Demo App inspired by @whitep4nth3r</h1>
        <p class="microblog__description">
          This is a demo app powered by Contentful and VWO.
        </p>
        <a
          href="https://github.com/gaurishanker/thingoftheday"
          target="_blank"
          rel="noopener noreferrer"
          class="microblog__link"
          >View code on GitHub</a
        >
      </header>
      
      <% items.forEach((item) => { %>
        <article id="<%= item.id %>" class="item__container">
        <div class="item__topRow">
          <img src="/panthers/<%= item.panther %>.svg" alt="<%= item.panther %> panther emote" width="50" height="50" class="item__panther">
    
          </img>
          <%= item.text %>
        </div>
        <% if(item.text) {%>
        <h2 class="item__text">
          <%= item.text %>
        </h2>
        <% } %>

        <% if(item.link) {%>
          <a href="<%= item.link %>" target="_blank" rel="noopener noreferrer" class="item__link"> <%= item.linkText %></a>
        <% } %>

          
        
      </article>
    <% }); %>
    </main>
    <footer class="footer">
      &copy; 
      <a
        href="https://twitter.com/whitep4nth3r"
        class="footer__link"
        target="_blank"
        rel="noreferrer noopener"
        >@whitep4nth3r</a
      >
    </footer>
  </body>
</html>
